<h1>Tweets</h1>
<% if current_user%>
  <%= render 'tweets/form', tweet: @tweet %>
<% end %>
<br>

<div class="row">
<div class="col-sm-2 col-md-2" style="width: 18rem;">
  <% @tweets.reverse.each do |tweet| %>
    <div class="card text-center" style="width: 18rem;">
      <%= image_tag (tweet.user.image_url), class:"user_image rounded-circle border" if tweet.user.image_url.present?%>
      <h3 class="card-title"><%= tweet.user %></h3>
      <h3><%= tweet.content %></h3>
      <h3><%= tweet.likes_count %></h3>
      <h3><%= tweet.retweets_count %></h3>
      <small><%= time_ago_in_words(tweet.created_at) %> ago</small>
      <% if current_user %>
        <p>  
        <%= link_to 'Edit', edit_tweet_path(tweet), class: "btn btn-info" %> 
        <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></p>
      <% else %>
        <%= link_to 'Show', tweet, class: "btn btn-primary" %> 
      <% end %>
    </div>
  <% end %>
</div>
</div>
<br>
<br>
<%= paginate @tweets %>