<div class="row">

  <div class="col-xs-8 col-sm-10 col-md-10">
    <h1>Tweets</h1>
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2">
    <%= link_to 'New Tweet', new_tweet_path, class: "btn btn-light btn-sm" %>
  </div>
</div>

<div class="row">
  <% @tweets.reverse.each do |tweet| %>
    <div class="card text-center col-sm-12 col-md-12" style="width: 18rem;">
      <h3><%= tweet.user %></h3>
      <h3><%= tweet.content %></h3>
      <small><%= time_ago_in_words(tweet.created_at) %> ago</small>
      <% if current_user %>
        <p>  
        <%= link_to 'Edit', edit_tweet_path(tweet), class: "btn btn-info" %> 
        <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></p>
      <% else %>
        <%= link_to 'Show', tweet, class: "btn btn-primary" %> 
      <% end %>
    </div>
  <% end %>
</div>


<br>

<%= paginate @tweets %>